body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    background-color: #f8f8f8; 
}

footer {
    background-color: #282c34; 
    color: #ffffff; 
    padding: 30px 20px; 
    text-align: center; 
    margin-top: 20px; 
}

.footer-container {
    max-width: 800px; 
    margin: 0 auto; 
}

.footer-container p {
    margin: 5px 0;
}

.footer-container a {
    text-decoration: none; 
    color: #61dafb; 
    margin: 0 10px; 
    transition: color 0.3s; 
}

.footer-container a:hover {
    color: #21a1f1; 
}

.footer-container .social-links {
    margin-top: 10px; 
}

.logo img {
    max-width: 50px; 
    height: auto; 
    margin-right: 15px; 
}

.navbar {
    display: flex; 
    flex-grow: 1; 
}

.navbar-brand {
    font-weight: bold; 
    margin-right: 20px; 
}

.navbar-nav {
    list-style: none; 
    display: flex;
    margin: 0; 
    padding: 0; 
}

.nav-item {
    position: relative;
    margin-right: 15px; 
}

.nav-link {
    text-decoration: none; 
    color: #000; 
}

.dropdown-menu {
    display: none; 
    position: absolute; 
    background-color: #f8f8f8; 
    border: 1px solid #ddd; 
    z-index: 1; 
}

.dropdown-menu .dropdown-item {
    padding: 10px; 
    color: #000; 
    text-decoration: none; 
    display: block; 
}

.dropdown-menu .dropdown-item:hover {
    background-color: #e0e0e0; 
}

.dropdown-toggle:hover + .dropdown-menu {
    display: block; 
}


