/* Kosár ikon stílusa */
.cart-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .cart-icon:hover {
    color: #0056b3;
  }
  
  /* Kosár számláló (badge) */
  #cart-count {
    font-size: 0.8rem;
    padding: 0.3em 0.6em;
    border-radius: 50%;
    color: white;
  }

  .hero {
    background-color: rgba(0, 0, 0, 0.5); 
}

.image-style {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 10px; 
}


.card {
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}

.card-body {
  padding: 20px;
}
  