/* Kosár ikon stílusa */
.cart-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .cart-icon:hover {
    color: #0056b3;
  }
  
  /* Kosár számláló (badge) */
  #cart-count {
    font-size: 0.8rem;
    padding: 0.3em 0.6em;
    border-radius: 50%;
    color: white;
  }

  .hero {
    background-color: rgba(0, 0, 0, 0.5); 
}

.image-style {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 10px; 
  
}

footer {
  margin-top: auto;
}



.card {
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}

.card-body {
  padding: 20px;
}

.container {
  flex: 1; 
}
  

.reference-box img {
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 100%; 
  height: 200px; 
  object-fit: cover;
  transition: transform 0.3s ease; /* Szép átmenet */
}

.reference-box img:hover {
  transform: scale(2.1); /* 10%-kal nagyobb lesz */
  z-index: 2; /* Biztosítja, hogy a kép felül legyen */
}





.background-img {
  
  background-image: url('../img/egyeb/FB_IMG_1722459705900.jpg');  
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat;  
  height: 300px;  
  color: white;  
  font-family: 'Edwardin Script ITC', cursive;  
 
}

.arbackground-img {
  
  background-image: url('../img/eskuvoszervezes/FB_IMG_1729435523136.jpg');  
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat;  
  height: 300px;  
  color: white;  
  font-family: 'Edwardin Script ITC', cursive;  
  
 
}



.dijcard {
  border: 2px solid #ccc;  /* Kép körüli keret */
  border-radius: 10px;  /* Kerekített sarkok a keretnél */
  overflow: hidden;  /* Ha a kép kinéz a keretből, azt eltünteti */
}

.dijcard-img-top {
  height: 200px;  /* Kép magassága */
  object-fit: cover;  /* Kép kitöltése, anélkül, hogy torzulna */
}


.oldal-hatter {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #e6f7ff;
  margin: 50px;
}

.oldal-cim {
  color: #333;
  font-size: 28px;
}

.gomb-container {
  margin-bottom: 25px;
}

.szezon-gomb {
  padding: 12px 24px;
  margin: 8px;
  border: none;
  background-color: #ff6b3d;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.3s;
}

.szezon-gomb:hover {
  background-color: #d4552e;
}

.kep-doboz {
  margin-top: 25px;
}

.szezon-kep {
  width: 450px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
